$color-black: #000000;
$color-black-light: #00000099;
$color-white: #FFFFFF;
$color-dark-green: #1E6140;
$color-bg-green: #347153;
$color-text-green: #84BE51;
$color-orange: #E74E13;
$color-orange-hover: #8D3200;
$color-cart-bg: #8C32130F;
$color-input-search: #484848;
$color-bg: #F8F8F8;
// $color-cart-bg: rgba(140, 50, 19, 0.06);