// Media 
$tab: 991px;

// $container-size: 0 16px;

// Font-weight
$header-weight: 300;
$text-weight: 400;
$name-weight: 600;
$title-weight: 700;
 
// Font-size
$small-text-size: 14px;
$text-size: 16px;
$p-size: 18px;
$h2-size: 45px;
$sub-size: 30px;
$h1-size: 55px;
